<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
        <title>Quiz</title>
        <link rel="stylesheet" href="/static/base/assets/styles/app.css"/>
    </head>
    <body style="height: auto !important;">

        <div class="game-page">
            <p class="subtitle-quiz">Quiz</p>
        <div class="container">
                
                <div id="loader"></div>

                <div id="game" class="justify-center flex-column animate-bottom hidden">
                    
                    <div class="game-result">
                        <h2>Você fez {{player_score}} pontos e está no </h2>
                        <h2 class="status-player">{{player_position}}º</h2>
                        <h2>lugar!</h2>
                    </div>

                    <br />
                    
                    <h3>Ranking</h3>
                    {% for player in top_five %}
                    <div class="choice-container">
                        <p class="choice-prefix">{{forloop.counter}}º</p>
                        <p class="choice-text">{{player.player__name}} - {{player.score__sum}} pontos</p>
                    </div>
                    {% endfor%}

                </div>
            
            </div>
        </div>
    </body>
    <script src="/static/base/assets/js/script.js"></script>
</html>